/* Librarys from   */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
@import "../../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../../bower_components/fontawesome/web-fonts-with-css/css/fontawesome-all.css";

/* Custom styles */
@import "base/_reset";

@mixin roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@mixin roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

@mixin roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@mixin roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@mixin button-yellow {
  outline: none;
  border: none;
  background-color: #fccb5b;
  text-transform: uppercase;
  color: #000;
  @include roboto-bold;
  box-shadow: 0px 5px 5px 0px rgba(252, 203, 91, 0.4);
  cursor: pointer;
  transition: .2s;

  &:hover {
    color: #000;
    background-color: #ffc33b;
    box-shadow: 0px 5px 5px 0px rgba(252, 203, 91, 0.2);
    transition: .2s;
  }
}

@mixin f-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  @include f-wrap;

  .wrapper {
    @media screen and (max-width: 1776px) {
      width: 1440px;
    }

    @media screen and (max-width: 1439px) {
      width: 1024px;
    }

    @media screen and (max-width: 1023px) {
      width: 768px;
    }

    @media screen and (max-width: 767px) {
      width: 320px;
    }

    width: 1780px;

    .header-text {
      background: url("../img/section1-bg.png") center no-repeat;

      header {
        @media screen and (max-width: 1023px) {
          display: block;
        }

        @media screen and (max-width: 767px) {
          padding: 0;
        }

        display: flex;
        justify-content: space-between;
        padding: 25px 78px;

        .left-part {
          @media screen and (max-width: 1023px) {
            display: flex;
            justify-content: center;
          }
        }

        .right-part {
          @media screen and (max-width: 1023px) {
            display: flex;
            justify-content: center;
          }

          ul {
            @media screen and (max-width: 767px) {
              display: block;
              position: absolute;
              height: auto;
            }

            display: flex;
            align-items: center;
            position: relative;

            li {
              span {
                @media screen and (max-width: 767px) {
                  display: none;
                }

                position: absolute;
                top: 8px;
                color: #0bdcc7;
              }

              a {
                @media screen and (max-width: 767px) {
                  display: flex;
                  justify-content: center;
                  padding: 10px;
                }

                text-transform: uppercase;
                font-size: 12px;
                @include roboto-bold;
                color: #fff;
                padding-left: 20px;

                &:hover {
                  text-decoration: underline;
                }
              }

              a.active {
                @include button-yellow;
                border-radius: 25px;
                padding: 15px 25px;

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      .main-text {
        display: flex;
        justify-content: center;

        .header-container {
          @media screen and (max-width: 767px) {
            margin-top: 240px;
            margin-bottom: 60px;
          }

          margin-top: 135px;
          margin-bottom: 130px;
          @include f-wrap;
          width: 660px;

          .text-header {
            @include f-wrap;

            h3 {
              @media screen and (max-width: 767px) {
                font-size: 36px;
                margin-left: 10px;
              }

              span {
                @include roboto-light;
              }

              @include roboto-thin;
              color: #333742;
              font-size: 48px;
            }
          }

          button.btn-yellow {
            @media screen and (max-width: 767px) {
              margin-top: 60px;
            }

            @include roboto-light;
            @include button-yellow;
            padding: 20px 60px;
            border-radius: 40px;
            margin-top: 90px;
          }
        }
      }
    }

    .main-wrap {
      background-color: #eee;

      .graph {
        @media screen and (max-width: 1776px) {
          padding: 90px 150px;
        }

        @media screen and (max-width: 1439px) {
          padding: 90px 125px;
        }

        @media screen and (max-width: 1023px) {
          display: block;
        }

        @media screen and (max-width: 767px) {
          padding: 70px 15px;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 90px 230px;

        .left-part {
          flex: 1;

          h2 {
            @include roboto-light;
            font-size: 36px;
            color: #0c0c0c;
          }

          h3 {
            @media screen and (max-width: 767px) {
              font-size: 22px;
            }

            margin-bottom: 60px;
            @include roboto-light;
            font-size: 24px;
            color: #0c0c0c;
          }

          p {
            @include roboto-regular;
            font-size: 14px;
            color: #0c0c0c;
          }

          .btn-yellow {
            @include button-yellow;
            border-radius: 25px;
            font-size: 12px;
            padding: 10px 26px;
            margin-top: 30px;
          }
        }

        .right-part {
          @media screen and (max-width: 1023px) {
            margin-top: 50px;
          }

          flex: 1;

          .soc-icon {
            display: flex;
            justify-content: center;

            a.soc {
              i {
                font-size: 27px;
              }

              text-decoration: none;
              margin: 0 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 30px;
              color: #fff;
              width: 20px;
              height: 20px;
              border-radius: 50%;
            }

            a.soc-kik {
              background-color: #82bc23;
            }

            a.soc-twitter {
              background-color: #5ea9dd;
            }

            a.soc-messenger {
              background-color: #007cff;
            }
          }

          .arrow-top {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            span {
              margin: 0 15px;
              color: #0bdcc7;

              i {
                font-size: 30px;
              }
            }
            span.center {
              margin-top: 15px;
            }
          }

          .head {
            @media screen and (max-width: 767px) {
              padding-left: 29px;
            }

            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 50px;
            margin-top: 15px;

            span {
              @media screen and (max-width: 767px) {
                font-size: 10px;
              }

              text-transform: uppercase;
              @include roboto-bold;
              font-size: 12px;
              color: #bebebe;
            }

            span.image {
              @media screen and (max-width: 767px) {
                width: 70px;
                height: 70px;
              }

              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #fff;
              border-radius: 50%;
              width: 90px;
              height: 90px;
              margin: 0 20px;
            }
          }

          .arrow-bottom {
            @media screen and (max-width: 767px) {
              margin-top: 0;
            }

            display: flex;
            justify-content: center;
            margin-top: 10px;

            span {
              margin: 0 25px;
              color: #0bdcc7;

              i {
                font-size: 30px;
              }
            }

            span.rotate-left {
              transform: rotate(45deg);
            }

            span.center {
              margin-top: 30px;
            }

            span.rotate-right {
              transform: rotate(-45deg);
            }
          }

          .text {
            @media screen and (max-width: 767px) {
              margin-left: 20px;
            }

            display: flex;
            justify-content: center;
            margin-top: 15px;
            margin-left: 30px;

            span {
              @media screen and (max-width: 767px) {
                font-size: 11px;
              }

              text-transform: uppercase;
              color: #000;
              @include roboto-bold;
              font-size: 12px;
            }

            span.text-left {
              margin-top: -30px;
            }

            span.center {
              margin-top: 30px;
            }

            span.text-right {
              margin-top: -30px;
            }
          }
        }
      }

      .message {
        @media screen and (max-width: 1776px) {
          padding: 85px 150px;
        }

        @media screen and (max-width: 1439px) {
          padding: 85px 115px;
        }

        @media screen and (max-width: 1023px) {
          padding: 85px 80px;
        }

        @media screen and (max-width: 767px) {
          padding: 60px 30px;
        }

        padding: 85px 230px;
        background-color: #fff;

        .title-mes {
          display: flex;
          justify-content: center;

          h3 {
            @media screen and (max-width: 1439px) {
              font-size: 28px;
            }

            @media screen and (max-width: 767px) {
              font-size: 22px;
            }

            @include roboto-regular;
            color: #0c0c0c;
            font-size: 24px;
          }
        }

        .info {
          @media screen and (max-width: 1023px) {
            justify-content: space-between;
          }

          @include f-wrap;
          justify-content: space-between;

          .mes {
            @media screen and (max-width: 767px) {
              margin-top: 45px;
            }

            width: 265px;
            margin-top: 95px;

            .image-mes {
              width: 60px;
              height: 70px;

              img {
                width: 95%;
                height: 95%;
                object-fit: cover;
              }
            }

            .title {
              margin: 10px 0;

              h3 {
                @include roboto-light;
                font-size: 24px;
                color: #0c0c0c;
              }
            }

            p {
              @include roboto-regular;
              font-size: 14px;
              color: #0c0c0c;
            }
          }
        }
      }

      .slider-container {
        display: flex;
        justify-content: center;

        .carousel {
          ol.carousel-indicators {
            @media screen and (max-width: 767px) {
              bottom: 50%;
            }

            margin: 0;
            padding: 0;
            bottom: 47%;
            left: -2%;

            li {
              width: 15px;
              height: 15px;
              border-radius: 50%;
              border: 1px solid #34a5bb;
              background-color: transparent;
            }

            li.active {
              background-color: #34a5bb;
            }
          }

          .carousel-inner {
            .carousel-item {
              .top-text {
                @media screen and (max-width: 1776px) {
                  left: 20%;
                }

                @media screen and (max-width: 1439px) {
                  top: 80px;
                  left: 8%;
                }

                @media screen and (max-width: 1023px) {
                  top: 120px;
                }

                @media screen and (max-width: 767px) {
                  top: 60px;
                  left: 1%;
                }

                left: 25%;
                top: 115px;
                position: absolute;
                
                h2 {
                  @media screen and (max-width: 1023px) {
                    font-size: 36px;
                  }

                  @media screen and (max-width: 767px) {
                    font-size: 18px;
                  }

                  @include roboto-light;
                  font-size: 48px;
                  color: #22798b;
                }
                
                h3 {
                  @media screen and (max-width: 767px) {
                    font-size: 14px;
                    margin-top: 20px;
                  }

                  margin-top: 50px;
                  @include roboto-regular;
                  font-size: 18px;
                  text-transform: uppercase;
                  color: #41a7bc;
                }
              }

              .image {
                @media screen and (max-width: 1776px) {
                  width: 1440px;
                }

                @media screen and (max-width: 1439px) {
                  width: 1024px;
                }

                @media screen and (max-width: 1023px) {
                  width: 768px;
                }

                @media screen and (max-width: 767px) {
                  width: 320px;
                  height: 420px;
                }

                width: 1780px;
                height: 660px;

                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }

              .bottom-text {
                @media screen and (max-width: 1439px) {
                  bottom: 40px;
                  margin: 0 25px;
                }

                @media screen and (max-width: 767px) {
                  font-size: 8px;
                  bottom: 5px;
                  margin: 0 10px;
                }

                display: flex;
                position: absolute;
                bottom: 140px;
                margin: 0 250px;
                @include roboto-regular;
                font-size: 14px;
                color: #fff;

                .left-text {
                  @media screen and (max-width: 767px) {
                    margin-right: 5px;
                  }

                  flex: 1;
                  margin-right: 25px;
                }

                .right-text {
                  @media screen and (max-width: 767px) {
                    margin-left: 5px;
                  }

                  margin-left: 25px;
                  flex: 1;
                }
              }
            }
          }
        }
      }
      
      .team-inbox {
        .message {
          .descript-team-inbox {
            @media screen and (max-width: 767px) {
              margin-top: 25px;
            }

            margin-top: 45px;
            @include f-wrap;

            p {
              @media screen and (max-width: 1439px) {
                font-size: 17px;
              }

              @media screen and (max-width: 767px) {
                font-size: 14px;
              }

              @include  roboto-light;
              font-size: 18px;
              color: #0c0c0c;
              margin: 0;
            }
          }

          .btn-team-inbox {
            display: flex;
            justify-content: center;
            margin-top: 80px;

            .btn-yellow {
              @media screen and (max-width: 1439px) {
                font-size: 18px;
              }

              @media screen and (max-width: 767px) {
                font-size: 14px;
              }

              @include button-yellow;
              font-size: 24px;
              padding: 16px 45px;
              border-radius: 35px;
            }
          }
        }


      }

      .contact {
        @media screen and (max-width: 1776px) {
          padding: 85px 150px;
        }

        @media screen and (max-width: 1439px) {
          padding: 85px 50px;
        }

        @media screen and (max-width: 1023px) {
          display: block;
        }

        @media screen and (max-width: 767px) {
          padding: 50px 30px;
        }

        padding: 85px 290px;
        display: flex;
        justify-content: space-between;

        .who-we-are {
          @media screen and (max-width: 1439px) {
            margin-right: 0;
          }

          flex: 2;
          margin-right: 110px;

          h2 {
            @media screen and (max-width: 767px) {
              font-size: 28px;
            }

            @include roboto-light;
            font-size: 36px;
            color: #0c0c0c;
          }

          p {
            @media screen and (max-width: 1023px) {
              margin-top: 30px;
            }

            @media screen and (max-width: 767px) {
              font-size: 12px;
            }

            margin-top: 65px;
            @include roboto-regular;
            font-size: 14px;
            color: #0c0c0c;
          }
        }

        .help {
          @media screen and (max-width: 1439px) {
            margin-left: 0;
          }

          flex: 1;
          margin-left: 110px;

          h2 {
            @media screen and (max-width: 767px) {
              font-size: 28px;
            }

            @include roboto-light;
            font-size: 36px;
            color: #0c0c0c;
          }

          .address {
            @media screen and (max-width: 1023px) {
              margin-top: 30px;
            }

            margin-top: 65px;

            i {
              @media screen and (max-width: 767px) {
                margin-right: 0;
              }

              margin-right: 10px;
              color: #0bdcc7;
            }

            i.icon-tel {
              color: #0bdcc7;
              margin-left: 15px;
            }

            a {
              @media screen and (max-width: 767px) {
                font-size: 12px;
              }

              text-decoration: none;
              @include roboto-regular;
              font-size: 14px;
              color: #0c0c0c;
            }
          }
        }
      }

      footer {
        background-color: #232732;

        ul {
          @media screen and (max-width: 1439px) {
            padding: 70px 125px 0;
          }

          @media screen and (max-width: 1023px) {
            padding: 35px 50px 0;
          }

          @media screen and (max-width: 767px) {
            display: flex;
            flex-wrap: wrap;
            padding: 25px 45px 0;
          }

          display: flex;
          justify-content: space-between;
          padding: 70px 365px 0 365px;
          list-style: none;

          li {
            a {
              color: #7f8185;
              @include roboto-regular;
              font-size: 14px;
            }
          }
        }

        p {
          @media screen and (max-width: 767px) {
            margin-top: 20px;
            margin-bottom: 30px;
          }

          margin-bottom: 65px;
          margin-top: 37px;
          display: flex;
          justify-content: center;
          @include roboto-regular;
          font-size: 14px;
          color: #424c55;
        }
      }
    }
  }
}